h1{
    text-align: center;
    color: black;
    background-color: rgb(228, 228, 13);
    font-size: 275%;
}
body{

}
p{
    text-decoration: underline;
    font-size: 135%;
    font-style: italic;
    font-weight: bold;
}
.container_anime {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .left_anime, .right_anime {
        width: 48%;
    }

.container_manga {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .left_manga, .right_manga {
        width: 48%;
    }

