h1{
    text-align: center;
    color: black;
    background-color: rgb(5, 201, 5);
    font-size: 275%;
}
body{
background-color: rgb(255, 246, 233);
}
p{
    text-decoration: underline;
    font-size: 135%;
    font-style: italic;
    font-weight: bold;
    color: rgb(0, 183, 255);
}
.container_anime {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
}

    .left_anime, .right_anime {
        width: 35%;
}

.container_manga {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
}

.left_manga, .right_manga {
        width: 35%;
}